name: publish-pypi

on:
  release:
    types: [created]

jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - name: Setup python
      - name: Setup python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      
      - name: Build & publish
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
        run: |
          python -m pip install --upgrade pip
          echo "version from __init__.py"
          sed -n -r '/__version__ = ".*"/p' src/birria/__init__.py | grep -o '".*"'
          pip install --upgrade setuptools wheel twine build
          python -m build
          twine check dist/*
          twine upload dist/*
